<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @appointment.user %>
</p>

<p>
  <strong>Service center:</strong>
  <%= @appointment.service_center %>
</p>

<p>
  <strong>Advisor:</strong>
  <%= @appointment.advisor %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @appointment.vehicle %>
</p>

<p>
  <strong>Appointment type:</strong>
  <%= @appointment.appointment_type %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @appointment.start_date %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
