<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service_center.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @service_center.country %>
</p>

<%= link_to 'Edit', edit_service_center_path(@service_center) %> |
<%= link_to 'Back', service_centers_path %>
